asyncio>=3.4.3
langchain>=0.3.7
langchain-aws>=0.2.7
langchain-openai>=0.2.9
matplotlib>=3.9.2
numpy>=2.0.2
pandas>=2.2.3
python-dotenv>=1.0.0
scikit-learn>=1.5.2
tqdm>=4.67.0
typing-extensions>=4.12.2
wandb>=0.18.7
